%section.saml_provider.gl-mt-5
  = form_for [group, saml_provider], url: group_saml_providers_path, html: { id: 'js-saml-settings-form' } do |f|
    .form-group
      = form_errors(saml_provider)
      .gl-form-checkbox.custom-control.custom-checkbox
        = f.check_box :enabled, { class: 'custom-control-input js-group-saml-enabled-input' }
        = f.label :enabled, { class: 'custom-control-label' } do
          = s_('GroupSAML|Enable SAML authentication for this group')
    .form-group
      .gl-form-checkbox.custom-control.custom-checkbox
        = f.check_box :enforced_sso, { class: 'custom-control-input js-group-saml-enforced-sso-input', data: { qa_selector: 'enforced_sso_checkbox' } }
        = f.label :enforced_sso, { class: 'custom-control-label' } do
          = s_('GroupSAML|Enforce SSO-only authentication for web activity for this group')
          %p.help-text.js-helper-text{ class: saml_provider.enabled? && 'gl-display-none' }
            = s_('GroupSAML|Before enforcing SSO, enable SAML authentication.')
    .form-group
      .gl-form-checkbox.custom-control.custom-checkbox
        = f.check_box :git_check_enforced, { class: 'custom-control-input js-group-saml-enforced-git-check-input' }
        = f.label :git_check_enforced, { class: 'custom-control-label' } do
          = s_('GroupSAML|Enforce SSO-only authentication for Git activity for this group')
          %p.help-text.js-helper-text{ class: saml_provider.enabled? && 'gl-display-none' }
            = s_('GroupSAML|Before enforcing SSO-only authentication for Git activity, enable SSO-only authentication for web activity.')
    - if Feature.enabled?(:group_managed_accounts, group)
      .form-group
        .gl-form-checkbox.custom-control.custom-checkbox
          = f.check_box :enforced_group_managed_accounts, { class: 'custom-control-input js-group-saml-enforced-group-managed-accounts-input', data: { qa_selector: 'group_managed_accounts_checkbox' } }
          = f.label :enforced_group_managed_accounts, { class: 'custom-control-label' } do
            = s_('GroupSAML|Enforce users to have dedicated group-managed accounts for this group')
            %p.help-text.js-helper-text{ class: saml_provider.enforced_sso? && 'gl-display-none' }
              = s_('GroupSAML|To be able to enable group-managed accounts, you first need to enable enforced SSO.')
      .form-group
        .gl-form-checkbox.custom-control.custom-checkbox
          = f.check_box :prohibited_outer_forks, { class: 'custom-control-input js-group-saml-prohibited-outer-forks-input' }
          = f.label :prohibited_outer_forks, { class: 'custom-control-label' } do
            = s_('GroupSAML|Prohibit outer forks for this group')
            %p.help-text.js-helper-text{ class: saml_provider.enforced_group_managed_accounts? && 'gl-display-none' }
              = s_('GroupSAML|To be able to prohibit outer forks, you first need to enforce dedicate group managed accounts.')
        .bs-callout.bs-callout-info.js-callout{ class: !saml_provider.enforced_group_managed_accounts? && 'gl-display-none' }
          = s_('GroupSAML|With prohibit outer forks flag enabled group members will be able to fork project only inside your group.')
    .well-segment.borderless.mb-3.col-12.col-lg-9.p-0
      = f.label :sso_url, class: 'label-bold' do
        = s_('GroupSAML|Identity provider single sign-on URL')
      = f.text_field :sso_url, placeholder: 'e.g. https://example.com/adfs/ls', class: 'form-control', data: { qa_selector: 'identity_provider_sso_field' }
      .form-text.text-muted
        = s_('GroupSAML|Members will be forwarded here when signing in to your group. Get this from your identity provider, where it can also be called "SSO Service Location", "SAML Token Issuance Endpoint", or "SAML 2.0/W-Federation URL".')

    .well-segment.borderless.mb-3.col-12.col-lg-9.p-0
      = f.label :certificate_fingerprint, class: 'label-bold' do
        = s_('GroupSAML|Certificate fingerprint')
      = f.text_field :certificate_fingerprint, placeholder: 'e.g. 0a:1b:2c:3d:00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff', class: 'form-control', data: { qa_selector: 'certificate_fingerprint_field' }
      .form-text.text-muted
        = s_('GroupSAML|SHA1 fingerprint of the SAML token signing certificate. Get this from your identity provider, where it can also be called "Thumbprint".')

    .well-segment.borderless.gl-mb-3.col-12.col-lg-9.gl-p-0
      = f.label :default_membership_role, class: 'label-bold' do
        = s_('GroupSAML|Default membership role')
      = f.select :default_membership_role, options_for_select(group.access_level_roles, saml_provider.default_membership_role), {}, class: 'form-control', data: { qa_selector: 'default_membership_role_dropdown' }
      .form-text.text-muted
        = s_('GroupSAML|This will be set as the access level of users added to the group.')

    .mt-3
      = f.submit _("Save changes"), class: 'gl-button btn btn-confirm', data: { qa_selector: 'save_changes_button' }
      #js-saml-test-button.has-tooltip.float-right
        = render 'test_button', saml_provider: @saml_provider
